# Node packages
node_modules/

# Composer
/craft/vendor/

# sensitive info
/craft/*.env
!/craft/example.env
/craft/config/license.key

# nonessential Craft files
/craft/storage/backups/
/craft/storage/composer-backups/
/craft/storage/config-backups/
/craft/storage/logs/
/craft/storage/runtime/

# compiled build assets
/craft/filerev.json
/webroot/*
!/webroot/media
!/webroot/index.php

# universal
.idea
.DS_Store
._*
Thumbs.db
*.log
