:root {
  /* === Inputs === */
  --disabled-input-bg: #FFF;

  --input-border-color: currentcolor;
  --input-border-style: solid;
  --input-border-width: 1px;
  --base-input-border: var(--input-border-width) var(--input-border-style) var(--input-border-color);
}
