:root {
  /* === Colors === */
  --base-bg-color: #FFF;
  --base-text-color: #000;





  /* === Fonts === */
  --primary-font: serif;
  --monospace-font: monospace, _; /* Dummy fallback bypasses browser hardcoded font size overrides. Not needed when specifying a font to use. */





  /* === Sizes === */





  /* === Z-Indexes === */
  --Z-BEHIND: -1;
  --Z-BASE: 0;
  --Z-BUMP: 5;
  --Z-TOP: 100;
}
