/* Clearfix */
.l-clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

/* Hidden but accessible */
.u-visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
}

.u-visuallyHidden.u-focusable:focus {
  width: auto;
  height: auto;
  overflow: visible;
  white-space: inherit;
  clip: auto;
}
